<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<script th:src="@{/js/jquery-3.4.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<title>Add Book</title>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-left">
					<li class="active"></li>
					<li><a href="/books">List Books</a></li>
					<li><a href="/authors">List Authors</a></li>
					<li><a href="/genres">List Genres</a></li>
					<li><a href="/add_book">Add Book</a></li>
					<li><a href="/add_author">Add Author</a></li>
					<li><a href="/add_genre">Add Genre</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div align="center">
		<h1>New/Edit Book</h1>
		<form th:action="@{/save_book}" th:object="${book}" method="post"
			enctype="multipart/form-data">
			<table>
				<tr>
					<td><input type="hidden" class="form-control"
						th:field="*{idBooks}" /></td>
				</tr>
				<tr>
					<td>Book Title:</td>
					<td><input type="text" class="form-control"
						th:field="*{bookTitle}" /></td>
				</tr>
				<tr>
					<td>Author:</td>
					<td><select class="form-control" th:field="*{booksAuthor}">
							<option th:each="author : ${authorList}"
								th:value="${author.idAuthors}" th:utext="${author.authorName}" />
					</select></td>
				</tr>
				<tr>
					<td>Publish Year:</td>
					<td><input type="text" class="form-control"
						th:field="*{bookYear}" /></td>
				</tr>
				<tr>
					<td>Genre:</td>
					<td><select class="form-control" th:field="*{booksGenre}">
							<option th:each="genre : ${genreList}"
								th:value="${genre.idGenre}" th:utext="${genre.genreName}" />
					</select></td>
				</tr>
				<tr>
					<td>Description:</td>
					<td><textarea class="form-control"
							th:field="*{bookDescription}"></textarea></td>
				</tr>
				<tr>
					<td>Picture Link:</td>
					<td><input type="url" class="form-control"
						th:field="*{bookPicture}" /></td>
				</tr>
				<tr>
					<td>Book File:</td>
					<td><input type="file" class="form-control" name="file"/></td>
					<!-- <td th:switch="${bookFile}"><button th:case="*"
						class="form-control" th:field="*{bookFile}"></button></td> -->
				</tr>
				<tr>
					<td>Hide:</td>
					<td><input type="radio" class="form-control"
						th:field="*{bookStatus}" th:value="1" name="Active"></td>
				</tr>
				<tr>
					<td>Show:</td>
					<td><input type="radio" class="form-control"
						th:field="*{bookStatus}" th:value="0" name="Hidden" /></td>
				</tr>
				<tr>
					<td><button class="btn btn-danger" type="submit">Save</button></td>
					<td></td>
					<td></td>
					<td><button class="btn" type="reset">Reset</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>