<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<script th:src="@{/js/jquery-3.4.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>


<title>Book Information</title>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-left">
					<li class="active"></li>
					<li><a href="/books">List Books</a></li>
					<li><a href="/authors">List Authors</a></li>
					<li><a href="/genres">List Genres</a></li>
					<li><a href="/add_book">Add Book</a></li>
					<li><a href="/add_author">Add Author</a></li>
					<li><a href="/add_genre">Add Genre</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div>
						<div align="center">
							<legend>Book Information</legend>
						</div>
						<div class="container" style="margin-top: 30px"
							th:object="${book}">
							<div class="row">
								<div class="col-sm-4">
									<img th:src="${book.getBookPicture()}" class="img-thumbnail"
										alt="Book Picture" width="304" height="236">
									<hr class="d-sm-none">
								</div>
								<div class="col-sm-8">
									<h1 th:text="${book.getBookTitle()}"></h1>
									<h4 th:text="${book.getBooksAuthor().getAuthorName()}"></h4>
									<h4 th:text="${book.getBookYear()}"></h4>
									<h4 th:text="${book.getBooksGenre().getGenreName()}"></h4>
									<p th:text="${book.getBookDescription()}"></p>
									<br>
								</div>
								<div class="col-sm-8">
									<a th:href="@{/download/?id={id}(id=${book.getIdBooks()})}"
										class="btn btn-success">Download Book</a>
									<br>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
